.menu_wrapper{
    width: 100%;    
    position: fixed;
    top: 0;
}
.menu_bar {
    width:1300px;
    margin-left: auto;
    margin-right: auto;
}

.menu_bar li{
    height: 45px;
    line-height: 45px;
    text-align: center;
    float: left;
    font-size: 16px;
    width: 70px;
    cursor: pointer;
    
}
li:hover{
    background: #F0F0F0;    
}

li.active{
    border-bottom: 2px solid #3385ff;
    color: #3385ff;
}

.search_wrapper {
    text-align: center;
    margin-top: 100px;

    
}

.fix-top{
    position: fixed;
    margin-top: 10px;
    left: 50%;
    margin-left: -290px;
}

.search_bar {
    width: 580px;
    margin: 0 auto;
}

.search_input {
    width: 500px;
    height: 35px;
    line-height: 35px;
    float: left;
    border: 1px solid #CFCFCF;
    border-right: none;
    outline: none;
    padding: 5px 10px;
    font-size: 15px;
}

.search_btn {
    float: right;
    width: 80px;
    height: 35px;
    /* line-height: 35px; */
    background: #3385ff;
    cursor: pointer;
    color: white;
    font-size: 16px;
    text-align: center;
}

.search_btn img{
    width:20px;
    height: 20px;
    position: relative;
    top: 7px;
}

.container {
    width: 1000px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
}