<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../resource/css/normalize.css">
    <link rel="stylesheet" href="../resource/css/base.css">
    <link rel="stylesheet" href="../resource/css/home.css">

</head>

<body>

    <div class="menu_wrapper">
        <div class="menu_bar">
            <ul class="clearfix">
                <li class="active">单词</li>
                <li >阅读</li>
            </ul>
        </div>
    </div>


    <div class="search_wrapper">
        <div class="search_bar clearfix">
            <input type="text" class="search_input">
            <div class="search_btn" id="search">
                <span>搜索</span>
            </div>
        </div>
    </div>

    <div class="container">

    </div>

    <script>
        $("#search").click(function(){
            
        });
    </script>

</body>

</html>